/* designing the layout of the page such as background colour and gradient*/
body{
        height: 97%;
        width: 100%;
        background-color: orange;
        background-image: linear-gradient(orange,white);
    }
    /* font selection and positioning of data */
#aboutus{
    font-family: sans-serif;
    color:#432371 ;
    font-weight: bold;
    font-size: 10mm;
    text-align: center;
    width: 97%;
}
#info{
   padding-left: 2%;
    font-family: sans-serif;
    font-size: 6mm;
    text-align: center;
    width: 97%;
}
#home{
    padding-inline-start: 10px;
}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
}

/* website responsiveness to mobile and ipad size devices*/
@media only screen and (max-width: 525px){
    body{
        margin-block: 0%;
        background-image: linear-gradient(orange, white);
    }
    #info{
        padding-left: 0%;
        margin-left: 0%;
        border-left: 0%;
        text-align: center;
    }
    #aboutus{
        padding-left: 0%;
        margin-left: 0%;
        border-left: 0%;
        text-align: center;
    }
    #home{
        padding-right: 10px;
    }
  /* website responsiveness to mobile and ipad size devices*/
  @media only screen and (max-device-width : 780px){ 
    body{
    margin-block: 0%;
    background-image: linear-gradient(orange, white);
    
 } 
  
}
}