body{
    height: 100%;
    width: 100%;
    background-color:orange;
    background-image: linear-gradient(orange,white);
}
/* choosing the font size and type for the data and aligning the info on teh page*/
#contactus{
    font-family: sans-serif;
    color:#432371 ;
    font-weight: bold;
    font-size: 10mm;
    text-align: center;
}
#info{
    padding: 5%;
    font-family: sans-serif;
    font-size: 5mm;
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#callcenter{
    border-color: violet;
}
@media only screen and (max-width: 600px){
        background-color:orange;
        background-image: linear-gradient(orange, white);
    }
  